<section id="resources-references" class="resources-references">
	<div class="grid-container">
		<div class="cell">
			<h2>{{ resources-references.title }}</h2>

	{{! @todo This needs to be simplified and cleaned up before json-data-ifying! }}
			<ul>
				<li>
					<em>dsthedev's docs:</em>
					<ul>
						<li>
							<a
								target="_blank"
								href="https://www.dsthedev.com/configuration/add-prismjs-code-highlighting-to-foundation-for-sites/"
								>Add PrismJS Code Highlighting to Foundation for Sites</a
							>
						</li>
					</ul>
				</li>
				<li>
					<a target="_blank" href="https://get.foundation/sites/docs/"
						>Foundation Docs</a
					>
					<ul>
						<li>
							<a
								href="https://get.foundation/sites/docs/panini.html"
								target="_blank"
								>Panini</a
							>
						</li>
						<li>?</li>
					</ul>
				</li>
				<li>
					<a
						target="_blank"
						href="https://en.wikipedia.org/wiki/CSS_framework"
						>CSS Framework | <small>Wikipedia</small></a
					>
				</li>
				<li>
					<a
						target="_blank"
						href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element"
						>HTML elements reference | <small>MDN web docs</small></a
					>
				</li>
			</ul>
		</div>
		<div class="cell">
			<h3><small>Snippets</small></h3>
			<dl>
				<dt>Default Section Layout</dt>
				<dd>
					<pre><code>section#name.name>div.grid-container>div.cell>h2+p</code></pre>
				</dd>
				<br />
				<dt>HTML needs to be escaped!</dt>
				<dd>
					<pre><code> &lt;span&gt;&lt;/span&gt; </code></pre>
				</dd>
				<br />
				<dt>CDN Links</dt>
				<dd>
					<pre class="line-numbers">
<code class="lang-html">
&lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.1/dist/css/foundation.min.css" crossorigin="anonymous"&gt;
&lt;script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.1/dist/js/foundation.min.js" crossorigin="anonymous"&gt;&lt;/script&gt;
</code></pre>
				</dd>
			</dl>
		</div>
	</div>
</section>